* {
    box-sizing: border-box;
}

body {
    background-color: #E77C68;
    text-align: center;
    margin: 0;
    padding: 0;
}

.tableBox {
    width: 80%;
    height: 800px;
    /* border: 1px solid black; */
    margin: 100px auto;
    display: flex;
    flex-flow: row wrap;
}

.box1 {
    /* border: 1px solid black; */
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.image {
    
}

.logo {
    margin-top: 20px;
}

.box {
        /* border: 1px solid black; */
        width: 300px;
        /* margin: 10px; */
        text-align: left;
        margin: 30px;
        background-color: whitesmoke;
        outline: 1px solid grey;
        border-radius: 3px;
        box-shadow: 3px 3px 3px black;
}

.box h3 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        color: grey;
        margin-left: 20px;
    }

.box p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color: grey;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

.box a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: blue;
    margin-left: 20px;
    /* margin-bottom: 10px; */
}